/* PAGE MENTION LEGALES */

.container {
	width:100%;
	max-width:1280px;
	height:565px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:84px;
}

.content-container {
	width:100%;
	max-width:1100px;
	height:520px;
	margin:0 auto;
	padding:35px 0 0 25px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
	color:#4278b2;
}

.titre1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#4278b2;
	padding:65px 0 0 35px;
}

.text-container {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:10px 0 0 65px;
}

/* PAGE CONDITIONS GENERALES DE VENTE */

.condition-container {
	width:100%;
	max-width:1280px;
	height:3820px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.condition-content-container {
	width:100%;
	max-width:1070px;
	height:3800px;
	margin:0 auto;
	padding:0 20px 40px 30px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.grand-titre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:0 0 0 45px;
}

.titre-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}
		
.text-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#da79c2;
	padding:10px 0 0 40px;
}

.titre-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-prix {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-prix {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-paiement {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.texte-paiement {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:5px 0 0 40px;
}

.titre-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.foot-url {
	text-decoration:none;
	color:#7a7a7a;
}
