@charset "UTF-8";
/* CSS Document */


/* HEADER */
.header {
	max-width:1280px;
	width:100%;
	margin:0 auto;
	padding-bottom:0px;
	align:center;
	background-color:#F9F9F9;
}

.logo {
	align:left;
	width:256;
	height:53px;
}

.logo-div {
	padding:20px;
	float:left;
	width:42%;
	min-width:260px;
}

.flag {
	float:left;
	height:100px;
	line-height:100px;
	right:500px;
}

.login {
	height:100px;
	line-height:24px;
	float:right;
	font-family:sans-serif;
	font-size:12px;
	padding:20px 20px 0 20px;
}

.form {
	float:right;
	font-size:11px;
}

.form-cmpt {
	float:right;
	margin:0 15px 0 15px;
	font-size:11px;
}

/* MENU */
.nav {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

#primary_nav_wrap {
	margin-top:15px
	width:100%;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 100%;
    max-width: 1280px;
}

#primary_nav_wrap ul a {
	display:block;
	color:#ffffff;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.red-menu {
	background:#e9002c;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li.purple-menu {
	background:#70227b;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li.dark-blue-menu {
	background:#4278b2;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li.orange-menu {
	background:#fb9333;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li.blue-menu {
	background:#7da4ce;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li.green-menu {
	background:#b0c741;
	width: 16.66666666666667%;
    text-align: center;
	padding: 4px 0px 4px 0px;
}

#primary_nav_wrap ul li:hover {
	background:#363636;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li {
	float:none;
	width:213px;
	/*couleur sous menu*/
	background:#969696;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block
}

/* ACCUEIL */
.home-box-container {
	/*background-color:#CCCCCC;*/
	width:100%;
	max-width:957px;
	margin:0 auto;
	margin-top:95px;
}

.home-box1 {
	width:478px;
	float:left;
}

.home-box2 {
	width:471px;
	float:right;
}

.home-box-head1 {
	border-radius:5px 5px 0 0;
	width:461px;
	height:100px;
	background-color:#6d1f80;
}

.home-box-head2 {
	border-radius:5px 5px 0 0;
	width:461px;
	height:100px;
	background-color:#4576b6;
}

.h-box-content1 {
	width:100%;
	height:385px;
	background-image:url('img/fond_1.png');
	background-repeat:no-repeat;
}

.h-box-content2 {
	width:100%;
	height:385px;
	background-image:url('img/fond_2.png');
	background-repeat:no-repeat;
}

.box-h-big-title {
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:23px;
	font-weight:bold;
	padding:10px;
}

.box-h-title {
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:18px;
	padding:0px 10px 10px 10px;
}

.box-left-content {
	width:170px;
	float:left;
	padding:20px;
}

.red-title {
	color:#e7001a;
	font-family:sans-serif;
	font-size:21px;
	font-weight:bold;
	line-height:0.8;
}

.blue-description {
	font-family:sans-serif;
	font-size:9px;
	color:#5c89bd;
	padding:1px 0px 10px 20px;
}

.box-right-content {
	float:left;
	padding-top:270px;
	width:245px;
}

.vert-purple-bar {
	float:left;
	border-radius:5px;
	width:7px;
	height:80px;
	background-color:#70227b;
	margin-right:10px;
}

.purple-text {
	font-family:Arial, Helvetica, sans-serif;
	color:#70227b;
	font-size:20px;
	line-height:1.4;
}

.content-box2-left {
	width:230px;
	height:130px;
	float:left;
	padding-top:50px;
	padding-left:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#3a537b;
}

.content-box2-right {
	height:155px;
	float:left;
	padding-top:5px;
}

.h-box-foot1 {
	width:461px;
	border-radius:0 0 5px 5px;
	height:13px;
	background-color:#6d1f80;
}

.h-box-foot2 {
	width:461px;
	border-radius:0 0 5px 5px;
	height:13px;
	background-color:#4576b6;
}

.text-h-container {
	width:100%;
	max-width:945px;
	margin:0 auto;
	height:auto;
	font-family:sans-serif;
	color:#4278b2;
	margin-top:54px;
	font-size:21px;
}

.img-list {
	float:left;
	margin-left:15px;
}

.img-list-content {
	padding-left:45px;
}

.content-box2-bottom-txt {
	padding-top:10px;
	padding-left:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#3a537b;
}

.align-right-bot-txt {
	text-align:right;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4379b2;
	line-height: 1.3;
	padding: 7px 10px 0px 0px;
}

.img-after-text {
	float:right;
	text-align:right;
}

/* FOOTER */
.foot-separator-cont {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.foot-sep-color1 {
	width:14.28571428571429%;
	height:5px;
	background-color:#e9002b;
	float:left;
}

.foot-sep-color2 {
	width:14.28571428571429%;
	height:5px;
	background-color:#7da4ce;
	float:left;
}

.foot-sep-color3 {
	width:14.28571428571429%;
	height:5px;
	background-color:#fb9332;
	float:left;
}

.foot-sep-color4 {
	width:14.28571428571429%;
	height:5px;
	background-color:#70217b;
	float:left;
}

.foot-sep-color5 {
	width:14.28571428571429%;
	height:5px;
	background-color:#b2c741;
	float:left;
}

.foot-sep-color6 {
	width:14.28571428571429%;
	height:5px;
	background-color:#d80071;
	float:left;
}

.foot-sep-color7 {
	width:14.28571428571429%;
	height:5px;
	background-color:#285573;
	float:left;
}

.ft-content {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.ft-name {
	float:left;
	width:35%;
	text-align:center;
	height:65px;
	line-height:65px;
	color:#54bbca;
	font-family:sans-serif;
	font-size:11px;
}

.menu-foot {
	float:left;
	width:45%;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#7a7a7a;
	font-family:sans-serif;
	padding-top: 25px;
}

.left-sep {
    border-left: 1px solid;
	border-color:#7a7a7a;
    padding-left: 5px;
    margin-left: 5px;
	height:15px;
	float:left;
	line-height: 15px;
	font-size:11px;
}

.no-left-sep {
    padding-left: 5px;
    margin-left: 5px;
	height:15px;
	float:left;
	line-height: 15px;
	font-size:11px;
}

.copyright {
	float:left;
	width:20%;
	text-align:center;
	height:65px;
	line-height:65px;
	color:#7a7a7a;
	font-family:sans-serif;
	font-size:11px;
	text-align:left;
}

/* PAGE LOGICIEL FAMILLE */

.page-log-content-f1 {
	height:100%;
	max-width:1280px;
	margin:0 auto;
	background-image:url('img/fd_p_1.png');
	background-repeat:no-repeat;
}

.plane-top {
	width:100%;
	max-width:935px;
	margin:0 auto;
	margin-top:65px;
}

table.log-list {
	width:100%;
	max-width:700px;
	cellspacing:0px;
	margin-left:95px;
	margin-top: 40px;
}

th.img-table-content {
	padding-right:15px;
}

.log-list-title {
	width:100%;
	max-width:295px;
	height:35px;
	border-radius:5px;
	background-color:#8a227b;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:35px;
	text-align:center;
	font-size:23px;
}

.vertical-line-purple-b-t {
	width:5px;
	height:120px;
	border-radius:5px;
	background-color:#8a227b;
}

.table-txt-content1 {
	color:#8a227b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
}

.table-txt-content2 {
	color:#cc4c9f;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:100;
}

.table-txt-button {
	color:#ff0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
}

table.log-list td, th {
	vertical-align:top;
}

a.red-url {
	text-decoration:none;
	color:#ff0000;
}

.price-left {
	float:left;
	border-radius:30px 30px 30px 30px;
	width:48px;
	height:48px;
	background-color:#8a227b;
	margin: 7px 19px 0px 0px;
	line-height: 0.9;
    color: white;
}

.price-left-content {
	line-height: 0.9;
    color: white;
	font-size:24px;
	margin-top: 9px;
    font-family: sans-serif;
    font-size: 17px;
	font-weight: 100;
}

.price-center {
	float:left;
	border-radius:30px 30px 30px 30px;
	width:62px;
	height:62px;
	background-color:#8a227b;
	margin: 0px 19px 0px 0px;
}

.price-center-content {
	line-height: 1.2;
    color: white;
	font-size:24px;
	margin-top: 10px;
    font-family: sans-serif;
    font-size: 19px;
	font-weight: 100;
	text-align: center;
}

.price-right {
	float:left;
	border-radius:30px 30px 30px 30px;
	width:34px;
	height:34px;
	background-color:#8a227b;
	margin: 14px 0px 0px 0px;
	line-height: 0.9;
    color: white;
	font-size:12;
}

.price-right-content {
	line-height: 0.9;
    color: white;
	font-size:24px;
	margin-top: 9px;
    font-family: sans-serif;
    font-size: 19px;
	font-weight: 100;
	text-align:center;
}

.price-table {
	line-height:64;
	height:64px;
	max-width: 182px;
    margin: 0 auto;
	padding-top:20px;
}

.bordered-btn-buy {
	border-radius:5px 5px 5px 5px;
	border:solid;
	border-color:#8a227b;
	width:80px;
	height:27px;
	align:center;
	color:#8a227b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height: 1.5;
	margin: 20px 0px 0px 65px;
}

a.btn-buy {
	text-decoration:none;
}

.space-after-table {
	height:135px;
}

.all-table-container {
}

.img-foot {
	padding-bottom: 0px;
    height: 100%;
    margin-left: 63%;
	margin-top: -60px;
}

/* PAGE AUDIOPROTHESISTE */

.body-log {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	background-color:#f2fcfd;
	padding-top:95px;
}

.content-log {
	width:100%;
	max-width:1090px;
	background-image: url('img/bck-white-bloc.png');
	background-repeat:repeat-y;
	margin:0 auto;
	padding:20px 20px 40px 20px;
	background-position: center;
}

h1.blue-title {
	color:#2b486d;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #00c3d7;
	display: inline;
}

p.under-blue-title {
	font-family:Arial, Helvetica, sans-serif;
	color:#4277bd;
	margin-top: 10px;
	margin-bottom: 65px;
	width: 100%;
    max-width: 505px;
}

.title-blue-back-div {
	width:100%;
	max-width:778px;
	height:33px;
	padding-left:30px;
	background-image:url('img/line-blue-titl.png');
}

.blue-back-title {
	width:100%;
	max-width:294px;
	min-width:175px;
	height:33px;
	background-image:url('img/back-blue-titl.png');
	font-family: sans-serif;
    color: #ffffff;
	text-align: center;
	line-height: 33px;
	font-size: 18px;
}

.list-div-product {
	width:100%;
	max-width:1095px;
	height:auto;
	min-height:195px;
	margin-bottom: 20px;
}

img.left-img-product {
	margin-top:15px;
	float:left;
}

.text-right-products {
	float:left;
	margin:25px 30px 20px 30px;
	width:100%;
	max-width:615px;
}

.text-right-prod-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#4277bd;
	margin-bottom:15px;
}

img.puce {
	margin-right:18px;
}

.text-right-prod {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12.4px;
	color:#4277bd;
	padding-right: 20px;
}

.know-more-button {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#2b486d;
	position: relative;
    top: 55px;
}

.price-prod-right {
	width:252px;
	height:170px;
	float:left;
}

.button-free-test {
	border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #00c3d7;
    width: 100px;
    height: 44px;
    color: #00c3d7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
	text-align:center;
	font-weight:bold;
	line-height:1;
	margin-top:10px;
	margin-left:4px;
}

.div-for-test {
	float:left;
	width:110px;
	height:167px;
}

.rounded-price {
    border-radius: 30px 30px 30px 30px;
    width: 62px;
    height: 62px;
    background-color: #00c3d7;
	margin:0 auto;
}

.rounded-price-right {
	float:left;
	border-radius:30px 30px 30px 30px;
	width:34px;
	height:34px;
	background-color:#00c3d7;
	margin: 50px 0px 0px 0px;
	line-height: 0.9;
    color: white;
	font-size:12;
}

.bordered-blue-btn-buy {
    border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #00c3d7;
    width: 80px;
    height: 27px;
    color: #00c3d7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}

.price-container {
	float:left;
	width: 82px;
	padding-left: 17px;
	padding-top:37px;
	margin-right:9px;
}

.price-blue-content {
    line-height: 1.2;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
}

a.know-more {
    text-decoration: none;
	color:#2b486d;
}

/* ORL ET PHONIATRES */

h1.blue-title-green {
    color: #2b486d;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #a5c741;
    display: inline;
}

.title-green-back-div {
    width: 100%;
    max-width: 778px;
    height: 33px;
    padding-left: 30px;
    background-image: url('img/line-green-title.png');
}

.green-back-title {
    width: 100%;
    max-width: 294px;
    min-width: 175px;
    height: 33px;
    background-image: url('img/back-green-title.png');
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
}

.button-free-test-green {
	border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #a5c741;
    width: 100px;
    height: 44px;
    color: #a5c741;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
	text-align:center;
	font-weight:bold;
	line-height:1;
	margin-top:10px;
	margin-left:4px;
}

.rounded-price-green {
    border-radius: 30px 30px 30px 30px;
    width: 62px;
    height: 62px;
    background-color: #a5c741;
	margin:0 auto;
}

.rounded-price-right-green {
    float: left;
    border-radius: 30px 30px 30px 30px;
    width: 34px;
    height: 34px;
    background-color: #a5c741;
    margin: 50px 0px 0px 0px;
    line-height: 0.9;
    color: white;
    font-size: 12;
}

.bordered-green-btn-buy {
    border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #a5c741;
    width: 80px;
    height: 27px;
    color: #a5c741;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}

/* ORTHOPHONISTES */

h1.blue-title-orange {
    color: #2b486d;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #ffbf42;
    display: inline;
}

.title-orange-back-div {
    width: 100%;
    max-width: 778px;
    height: 33px;
    padding-left: 30px;
    background-image: url('img/line-orange-title.png');
}

.orange-back-title {
    width: 100%;
    max-width: 294px;
    min-width: 175px;
    height: 33px;
    background-image: url('img/back-orange-title.png');
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
}

.rounded-price-orange {
    border-radius: 30px 30px 30px 30px;
    width: 62px;
    height: 62px;
    background-color: #ffbf42;
	margin:0 auto;
}

.rounded-price-right-orange {
    float: left;
    border-radius: 30px 30px 30px 30px;
    width: 34px;
    height: 34px;
    background-color: #ffbf42;
    margin: 50px 0px 0px 0px;
    line-height: 0.9;
    color: white;
    font-size: 12;
}

.bordered-orange-btn-buy {
    border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #ffbf42;
    width: 80px;
    height: 27px;
    color: #ffbf42;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}
/* LOGICIELS ADAPTÉS À VOTRE MÉTIER */

h1.dark-blue-title {
    color: #2b486d;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #7ba2cc;
    display: inline;
}

.content-right-log-adaptes {
	width:100%;
	max-width:402px;
	height:85px;
	float: right;
    margin-top: -65px;
}

p.content-right-log-adaptes {
	float:left;
	max-width:230px;
	color:#213f66;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

img.headphone-cont-right-log-adaptes {
	float:left;
	width:170px;
	height:148px;
	margin-top: -115px;
}

p.under-title-list-log {
	color:#7ba2cc;
	font-family:Arial, Helvetica, sans-serif;
}

.div-for-prod-list-content-div {
	width:100%;
	max-width:810px;
}

.prod-list-content-div {
	float:left;
	width:270px;
	height:300px;
}

img.prod-list {
	width:155px;
	height:186px;
	margin-left: 57.5px;
    margin-right: 57.5px;
}

p.title-product-list-under-img {
	text-align:center;
	margin:0px 0px -10px 0px;
	color:#27446a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
}

p.product-description {
	text-align:center;
	color:#306ab7;
	font-family:Arial, Helvetica, sans-serif;
}

a.no-decoration {
	text-decoration:none;
}

/* PAGE CONTACT */

.content-contact-div {
	width:100%;
	max-width:1170px;
	margin:0 auto;
	margin-top:76px;
}

.contact-left-div {
	width:100%;
	max-width:690px;
	margin-right:25px;
	float:left;
}

.contact-form-container {
	width:100%;
	background-color:#f2f8fe;
	padding: 10px 10px 0px 10px;
	max-width: 670px;
}

.map {
    width: 100%;
	max-width:690px;
    height: 400px;
}

.contact-right-div {
	width:100%;
	max-width:455px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	color:#94a735;
}

span.little-description {
	font-size:18px;
	font-style:italic;
}

p.contact-form-title {
	font-family:Arial, Helvetica, sans-serif;
	color:#315974;
	margin-top: 0px;
	margin-left: 21%;
	font-size: 24px;
	margin-bottom: 10px;
}

.left-form-contact {
	width:275px;
	float:left;
	text-align:right;
}

p.form-contact {
	margin-bottom:2px;
	margin-top:0px;
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#315974;
}

.message-form {
	margin-left: 15px;
    float: left;
}

textarea.message {
	height:76.5px;
	width:100%;
	max-width:280px;
	border-color:#CCCCCC;
}

.button-message-container {
	float:left;
	padding: 27px 0px 20px 27px;
}

.button-message {
	width:78px;
	height:28px;
	line-height:28px;
	background-color:#2d5671;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	font-size: 13px;
}

img.img-back-contact {
	margin: -84px 0px 0px 70px;
}
/*Admin*/

.login-admin {
	width:100%;
	max-width:475px;
	margin:0 auto;
	margin-top: 15%;
}

img.logo-admin-login {
	width:100%;
	height:100%;
}

.logo-admin-login-container {
	width:100%;
	max-width:292px;
	height:100%;
	max-height:60px;
	margin-left: 29%;
}

p.admin-login-title {
	width:100%;
	max-width:292px;
	height:100%;
	max-height:60px;
	margin-left: 29%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#006ca3;
	margin-top:20px;
	margin-bottom: 10px;
	font-weight:bold;
	font-size: 19px;
}

input.admin-connect-form {
	float:right;
	height: 30px;
}

p.form-admin-page {
	font-family:Arial, Helvetica, sans-serif;
	color:#0f0f0f;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 2.7;
}

.button-admin-connet {
	background-color:#006da4;
	width:185px;
	height:40px;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:center;
	margin-left: 41%;
	margin-top: 36px;
}
/*hasina*/
a{
	text-decoration: none;
}
.box-left-content a{
	text-decoration: none;
	color:#e7001a;
}
table a{
	text-decoration: none;
	color:#e7001a;
}
.know-more-button a{
	text-decoration: none;
	color:#2b486d;
}

.box-left-content a:hover {
	text-decoration: underline;
	color:#fa0022;
}
/*language switcher*/

li{
	list-style: none;
	display: inline-block;
	margin-left: 3px;
}