<table class="table-striped table-bordered table-condensed table-hover">
	<tr>
		<td>Titre</td>
		<td>Auteur</td>
		<td></td>
	</tr>
	<?php foreach($contents as $content): ?>
		<tr>
			<td><?php echo $content['Page']['title'] ?></td>
			<td><?php echo $content['Page']['autor'] ?></td>
			<td><a href="">Voir</a></td>
		</tr>
	<?php endforeach; ?>
</table>
