
	<div class="container">
    	<div class="content-container">
    	 	<div class="titre1">
           		Mention l&eacute;gales
                <br /><?php echo $this->Html->image('desing/bar_hor_bleu.png'); ?>
            </div>
            
            <div class="titre2">
            	<?php echo $this->Html->image('desing/puce_bleu_fonce.png'); ?>
                Audivim&eacute;dia
            </div>
            
            	<div class="text-container">
                	<br />Vous utilisez actuellement le site Audivim&eacute;dia.fr dont les &eacute;l&eacute;ments d&acute;identification son les suivants :
                <br />www.audivim&eacute;dia.fr
                <br />contact@audivimedia.fr
                <br />Dirigeant de soci&eacute;t&eacute; : Alain Vinet
                <br />Audivim&eacute;dia SARL au capital de 15.000 &euro;, Si&egrave;ge social : 48 rue Montmartre, 750002 paris / France ; 
                <br />tel : +33 (0)1 44 76 84 44 - Fax : +33 (0)1 44 76 03 13
                <br />N&deg;RCS Paris : 418384848
                <br />N&deg;TVA : FR 67 418 384 848
                <br />H&eacute;bergeur d&acute;Audivimedia.fr : Claranet, 18-20 rue du Faubourg du temple, 75011 Paris, immatricul&eacute; au RCS 
                <br />Paris B 419 632 286
                
                <br /><br /><h1><a href="conditions-vente.php" style="font-size:18px; color:#da79c2">Voir les conditions g&eacute;n&eacute;rales de vente</a></h1>
                </div>
        </div>
        	
        </div>
    </div>


