<style type="text/css">
	.img-home{
		width: 5%;
	}
	.sidehomelogout{
		position: absolute;
		top: 1%;
		right: 1%;
	}
</style>
<div class="">
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/1.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('PAGES','/a',array('update'=>'#cnt','id'=>'pages')); ?></div>
		</div>
	</div>
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/2.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('UTILISATEURS',array('controller' => 'users', 'action' => 'index'),array('update'=>'#cnt','id'=>'user')); ?></div>
		</div>
	</div>
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/3.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('COMMANDES','/a',array('update'=>'#cnt','id'=>'commandes')); ?></div>
		</div>
	</div>
</div>
<div class="">
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/4.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('LOGICIELS',array('controller' => 'logiciels', 'action' => 'index'),array('update'=>'#cnt','id'=>'softs')); ?></div>
		</div>
	</div>
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/5.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('PRODUITS',array('controller' => 'products', 'action' => 'index'),array('update'=>'#cnt','id'=>'products')); ?></div>
		</div>
	</div>
	<div class='_row'>
		<div style="text-align: center;">
			<div><?php echo $this->Html->image('desing/6.png', array('class'=>'img-home')) ?></div>
			<div><?php echo $this->Js->link('PARAMETRES','/a',array('update'=>'#cnt','id'=>'settings')); ?></div>
		</div>
	</div>
</div>
<?php echo $this->Session->flash('flash', array('element' => 'flash_success')); ?> 