
<br />

<strong>Audivimedia client area</strong>

<br />
<br />
<br />
<br />
<?php 
	$a =  $this->Session->read('Auth'); 
?>

<h3>Bienvenue <?php echo $a['User']['name']; ?></h3>
<?php echo $this->Html->link('Logout', array('controller' => 'users', 'action' => 'logout', 'admin' => false)) ?>